In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/character-encoding-examples/file_guide.csv
/kaggle/input/character-encoding-examples/olaf_Windows-1251.txt
/kaggle/input/character-encoding-examples/shisei_UTF-8.txt
/kaggle/input/character-encoding-examples/die_ISO-8859-1.txt
/kaggle/input/character-encoding-examples/harpers_ASCII.txt
/kaggle/input/character-encoding-examples/yan_BIG-5.txt
/kaggle/input/character-encoding-examples/portugal_ISO-8859-1.txt
/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv
/kaggle/input/test-csv/test.csv

# <h1 style="font-size: 42px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #a2d2ff; color: #4361ee; text-align: center; border-radius: 150px 150px;"><b>Parameters of the `pd.read_csv()` Function<b></h1>

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
<!-- <h3 align="left"><font color='#DEB887'>Conclusion</font></h3> -->

Understanding the various parameters of the `pd.read_csv()` function is essential for harnessing its full potential and effectively handling different data scenarios. In this notebook, we will explore the key parameters of the `pd.read_csv()` function and discuss how they can be utilized to customize data loading, handle different file formats, and address common data challenges.

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>1. Header parameter</b></h1>


<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    
- Specifies the row(s) to use as the column names. 
- By default, the first row of the file is used as the header. 
- Using this parameter, you can specify a different row as the header

In [2]:
df = pd.read_csv('/kaggle/input/test-csv/test.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
1,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
2,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
3,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
4,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

here the row 1 is the names of the column, so to make it as the column name, we can pass in `header=1`

In [3]:
pd.read_csv('/kaggle/input/test-csv/test.csv', header=1)

,0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
1,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
2,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
3,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>2. usecols parameter</b></h1>

<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    
- Selects specific columns to read from the file. 
- Instead of reading all columns, you can provide a list of column names or column indices to include only those columns in the resulting DataFrame.

In [4]:
df1 = pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv')
df1.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833

In [5]:
pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv',
            usecols=['Country', 'City', 'AQI Value', 'lat', 'lng'])

                        Country              City  AQI Value      lat      lng
0            Russian Federation        Praskoveya         51  44.7444  44.2031
1                        Brazil  Presidente Dutra         41  -5.2900 -44.4900
2                        Brazil  Presidente Dutra         41 -11.2958 -41.9869
3                         Italy   Priolo Gargallo         66  37.1667  15.1833
4                        Poland         Przasnysz         34  53.0167  20.8833
...                         ...               ...        ...      ...      ...
16690  United States of America  Highland Springs         54  37.5516 -77.3285
16691                  Slovakia            Martin         71  49.0650  18.9219
16692                  Slovakia            Martin         71  36.3385 -88.8513
16693                    France            Sceaux         50  48.7786   2.2906
16694  United States of America       Westerville         71  40.1241 -82.9210

[16695 rows x 5 columns]

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>3. squeeze parameter</b></h1>
<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    
- used to import just one column as **a series** out of all columns

In [6]:
series_squeeze = pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv', 
            usecols=['Country'], squeeze=True)

series_squeeze

/tmp/ipykernel_20/4034721425.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  series_squeeze = pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv',

0              Russian Federation
1                          Brazil
2                          Brazil
3                           Italy
4                          Poland
                   ...
16690    United States of America
16691                    Slovakia
16692                    Slovakia
16693                      France
16694    United States of America
Name: Country, Length: 16695, dtype: object

In [7]:
type(series_squeeze)

pandas.core.series.Series

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>4. skiprow parameter</b></h1>
<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    
- used to skip certain rows
- the row number to be skipped has to be passed as a list
- can also use lambda functions and other complex logic to skip the rows accordingly

In [8]:
pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv',
            skiprows=[1,5,10])

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
3,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate,16.1005,-88.8074
4,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate,26.8941,-82.0513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16687,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate,37.5516,-77.3285
16688,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,49.0650,18.9219
16689,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,36.3385,-88.8513
16690,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good,48.7786,2.2906
16691,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate,40.1241,-82.9210

In [9]:
pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv',
            skiprows=(lambda x: x%2==0))

#skipped all the even indexed rows; you can use the 'names' parameter and specify the header

,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good.1,0,Good.2,51.1,Moderate.1,44.7444,44.2031
0,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
1,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
2,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate,26.8941,-82.0513
3,Russian Federation,Pyatigorsk,54,Moderate,1,Good,41,Good,1,Good,54,Moderate,44.0500,43.0667
4,Netherlands,Raalte,41,Good,1,Good,24,Good,6,Good,41,Good,52.3833,6.2667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8342,China,Wangqing,101,Unhealthy for Sensitive Groups,3,Good,35,Good,2,Good,101,Unhealthy for Sensitive Groups,43.3126,129.7572
8343,United Kingdom of Great Britain and Northern I...,Urmston,33,Good,1,Good,30,Good,3,Good,33,Good,53.4487,-2.3747
8344,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate,37.5516,-77.3285
8345,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,36.3385,-88.8513
8346,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate,40.1241,-82.9210

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>5. nrows parameter</b></h1>
<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    
- used to just import `n` rows
- can be useful when working with large datasets and you want to load only a subset of the data for initial exploration.

In [10]:
pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv', nrows=100)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Brazil,Itagi,25,Good,0,Good,9,Good,1,Good,25,Good,-14.1628,-40.0058
96,Nigeria,Iseyin,90,Moderate,3,Good,18,Good,2,Good,90,Moderate,7.9667,3.6000
97,Mexico,Isla,81,Moderate,2,Good,26,Good,3,Good,81,Moderate,18.0292,-95.5264
98,Brazil,Itaitinga,29,Good,0,Good,20,Good,1,Good,29,Good,-3.9689,-38.5278
99,Brazil,Itapemirim,44,Good,1,Good,16,Good,1,Good,44,Good,-21.0108,-40.8339

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>6. encoding parameter & error_bad_lines parameter</b></h1>
<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    

### encoding parameter
- sometimes it so happens that some datasets have a different encoding than utf-8
- in this cases, we use the encoding parameter to pass the encoding format in which the dataset is encoded in, so that pandas can parse it properly
- if you do not know the encoding format, you can open the dataset on any text editor and change its encoding format to utf-8

### error_bad_lines parameter
- sometimes it so happens that there mighe be more values in the rows than the total columns in the dataset
- in such cases, pandas throws an error
- to avoid such rows, we can set the `error_bad_lines parameter` to `False`

In [11]:
pd.read_csv('/kaggle/input/character-encoding-examples/yan_BIG-5.txt', encoding='Big5', error_bad_lines=False)

/tmp/ipykernel_20/468972137.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  pd.read_csv('/kaggle/input/character-encoding-examples/yan_BIG-5.txt', encoding='Big5', error_bad_lines=False)
Skipping line 16: expected 2 fields, saw 3
Skipping line 22: expected 2 fields, saw 3
Skipping line 30: expected 2 fields, saw 3
Skipping line 47: expected 2 fields, saw 3
Skipping line 48: expected 2 fields, saw 3
Skipping line 50: expected 2 fields, saw 3
Skipping line 57: expected 2 fields, saw 3
Skipping line 59: expected 2 fields, saw 3
Skipping line 60: expected 2 fields, saw 3
Skipping line 68: expected 2 fields, saw 3
Skipping line 75: expected 2 fields, saw 3
Skipping line 86: expected 2 fields, saw 3
Skipping line 89: expected 2 fields, saw 4
Skipping line 92: expected 2 fields, saw 4
Skipping line 105: expected 2 fields, saw 5
Skipping line 110: expected 2 fields, saw 4
Skipping line 121: expected 2 fields, saw 3
Skipping line 125: expected 2 fields, saw 3
Skipping line 147: expected 2 fields, saw 3

        The Project Gutenberg EBook of Yan shi jia xun  by Yan Zhitui
0                       #4 in our series by Yan Zhitui            NaN
1    Copyright laws are changing all over the world...            NaN
2    copyright laws for your country before downloa...            NaN
3           this or any other Project Gutenberg eBook.            NaN
4    This header should be the first thing seen whe...            NaN
..                                                 ...            ...
114  Michael S. Hart.  Project Gutenberg is a Trade...            NaN
115  used in any sales of Project Gutenberg eBooks ...            NaN
116  they hardware or software or any other related...            NaN
117                               express permission.]            NaN
118  *END THE SMALL PRINT! FOR PUBLIC DOMAIN EBOOKS...            NaN

[119 rows x 2 columns]

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>7. converters parameter</b></h1>
<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    
- Applies custom functions to specific columns during parsing
- sometimes we might want to do some convertions to the data right before we import it, in such cases, `convertors` parameter can be used
<br>

**Example**
- suppose we want to convert 'Russian Federation' to 'Russia' and 'Brazil' to 'BR', we can use the converters parameter while reading the file and perform the operation

In [12]:
def rename(name):
    if name == "Russian Federation":
        return "Russia"
    elif name == 'Brazil':
        return 'BR'
    else:
        return name

In [13]:
pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv', 
            converters={'Country':rename})

# as you can see Russia and Brazil have been renamed

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russia,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,BR,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,BR,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16690,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate,37.5516,-77.3285
16691,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,49.0650,18.9219
16692,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,36.3385,-88.8513
16693,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good,48.7786,2.2906
16694,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate,40.1241,-82.9210

# <a name="1"></a><h1 style="font-size: 36px; font-family: 'Roboto Mono', monospace; font-weight: normal; background-color: #edf2fb; color:#ffa62b; text-align: center; border-radius: 50px 50px;"><b>8. chunksize parameter</b></h1>
<div style="border-radius:10px; border:#e7c6ff solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
    
- Enables reading the file in smaller chunks or chunks of specified size
- Instead of loading the entire file into memory at once, this parameter allows you to process the data in manageable portions.
- By setting the chunksize, you can iterate over the file and perform operations on each chunk individually, which is particularly useful for working with large datasets that cannot fit into memory entirely.

In [14]:
dfs = pd.read_csv('/kaggle/input/world-air-quality-index-by-city-and-coordinates/AQI and Lat Long of Countries.csv',chunksize=5000)

In [15]:
for chunks in dfs:
    print(chunks.shape)

(5000, 14)
(5000, 14)
(5000, 14)
(1695, 14)

**Now you can apply all the normal pandas operations inside the `for` loop, and it would get applied on each chunk**

<div style="border-radius:10px; border:#fb8500 solid; padding: 15px; background-color: #f6f5f5; font-size:100%; text-align:left">
<h3 align="left"><font color='#DEB887'>Conclusion</font></h3>

* That's a wrap! Thank you so much for reading the notebook. <br>
* There are some more parameters in the `read_csv()` function that haven't been covered here. I suggest you check the [docs](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) if you want to read more about the parameters.